/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2021, 6:23:10 PM
    Author     : Admin
*/
/*Main design-Start*/
.container{/*Div that is the main frame in the center. This hold both right and left div */
    width: 886px;
    height: auto;/*This make the main height fit its content*/
    margin: 0 auto;/*Make the div tag stay in the middle of the screen*/
    /*^ Margin: x y while x: top bottom, y: right left*/
    padding-top: 15px;
}
.header{/*Div that hold the title??*/
    border-radius: 30px 30px 0px 0px;/*Rounded Corners*/
    background: url('../images/blank.jpg');
    opacity: 0.9;/*Make header transparent a little bit*/

    width: 886px;/*Background: need width: & height: */
    height: 68px;/*Background: need width: & height: */
}
.header h3{/*Seft design*/
    color: black;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-left: 30px;
    padding-top: 10px;
    font-family: sans-serif;
}
.menuBar{/*Horizontal bar displays a series of menu functions*/
    background: url(../images/menuBar.jpg);/*Background: need width: & height: */
    width: 886px;/*Background: need width: & height: */
    height: 32px;/*Background: need width: & height: */
    /*^ Should be 32px becouse if it is bigger it make the menu bar img repeat*/
    /*^ Advance*: You can try 'background-repeat:no-repeat' property if you dont want img repeat, but it will create white space as the image grows in size*/
}
/*video 2*/
.menuBar a{
    color: white;/*Change a href font color - nothing specific*/
    text-decoration: none;/*remove underline a href*/
    font-weight: bold;/*Change font weight to bold - nothing specific*/
    padding-left: 80px;/*Move text backwards a little bit because of the general design of the website*/
    line-height: 32px;/*This changes the height of line resulting in making a href move a little bit downwards to into the menu bar*/
    /*^ The 32px is equal to the .menu height so it make the a href fit perfectly*/
    /**/
    margin-left: 20px;/*https://stackoverflow.com/questions/21964111/horizontal-space-between-links-in-html-css*/
    /*know the difference between padding-left & margin-left*/
}
/*/video 2*/
.main{/*Div contain main content*/
    background: url(../images/blank.jpg);/*Background: need width: & height: */
    width: 886px;/*Background: need width: & height: */
    height: auto;/*Background: need width: & height: */
    /*^ Set auto because it will automatically increase in size as more content becomes available*/
    display: flex;/*If you want the .left and .right side by side, you need this*/
}
/*video 2*/
.left{
    width: 75%;/*70% of its cotainer aka .main*/
    height: auto;/*This height is equal to .main height*/
    /*border: 1px solid black;*/
    /*^ uncomment border if u want to see it clearly*/
    padding-left: 68px;/*Move text backwards a little bit because of the general design of the website*/
    padding-right: 10px;/*Moving the text a bit backward (from the right) makes the .information and border-bottom sections of the .description a distance to the right.*/
    /*padding-right also works with padding-left to make the web page looks balanced (although the values on both sides are not equal).*/
    padding-top: 20px;/*Moving the text a bit backward (from the top) aim for the .title seperate a little bit from the .menu bar*/
    border-right: 2px dotted lightgrey;/*dotted border seperating the .left and .right*/
}
.title{/*Some settings for the title in .left. The original is just copy code*/
    font-size: 18px;
    color: #42554e;
    font-weight: bold;
    padding-bottom: 15px;
}
.each{
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;
}
.each2{
    display: flex;/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    padding-top: 10px;
    padding-bottom: 5px;
    border: 3px solid #e0e0e0;

    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.each2 .image img{
    width: 148px;
    height: 100px;
}
.paging{
    /*Make number move to next page (link) not stick with the product line (when product line have only 1 or 2 product)*/  
    /*https://stackoverflow.com/questions/10000674/make-an-a-tag-move-onto-a-new-line-without-using-displayblock*/
    float:left; 
    clear:left;
}
.image img{/*Some settings for the img in .left. The original is just copy code*/
    width: 232px;
    height: 289px;
    /*    width: 400px;
        height: auto;*/
    /*padding-bottom: 20px*//*This make img look no border-radius at bottom -> remove*/
    border-radius: 10px;
}
.description{
    padding-bottom: 40px;
    /*^ Some settings for the main content in .left. The original is just copy code*/
    font-size: 16px;

    padding-left: 30px;
    padding-bottom: 10px;
}
.information{/*Some settings for the extra bottom information in .information. The original is just copy code*/
    float: right;
    color: #42554e;
    font-size: 10px;
    margin-top: 5px;
    font-size: 10px;
}
.right{
    width: 25%;/*30% of its cotainer aka .main*/
    height: auto;/*This height is equal to .main height*/
    /*border: 1px solid black;*/
    /*^ uncomment border if u want to see it clearly*/
    padding-left: 10px;/*Move everything in .right to the right a little bit*/
    padding-right: 80px;
}
.title_Right{/*Some settings for the title (& the 'Search' word before the search input, the 'Last Articles' after the search input) in the .right. The original is just copy code*/
    /*This is used for many places*/
    color: #42554e;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}
.shortDes{/*Some settings for short description before the search input in the .right. The original is just copy code*/
    font-size: 13px;
    color: #42554e;
}
/*.container .main .right .search .inputTxt{input Search. The Search bar
    border: dashed 1px;
    width: 100px;
}*/
.submitTxt{/*input Submit. The Go button used to search*/
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: gray;
    transition: .3s;

    min-width: 132px;
    width: auto;
    height: 20px;
    background-color: gray;
    color: white;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*border-radius: 20px;*/
}
.submitTxt:hover{/*input Submit. The Go button used to search*/
    border: none;
    background-color: white;
    color: gray;
    font-weight: bold;
    transition: .3s;
    box-shadow: 0 0 5px 0 black;
}
/*/video 2*/
.footer{/*The bottom part, contain nothing*/
    background: url(../images/blank.jpg);/*Background: need width: & height: */
    width: 886px;/*Background: need width: & height: */
    height: 68px;/*Background: need width: & height: */
    /*^ Just try to make width & height fit to the original image*/
    border-radius: 0px 0px 30px 30px;/*Rounded Corners*/
    text-align: center;
}
/*Main design-End*/

.inputTxt{
    /*border: dashed 1px;*/
    border: 2px solid #555;
    width: 132px;
}
/*check .custom-text-cart*/
.inputTxt:focus{
    /*border: dashed 1px;*/
    border-color: #555;
    box-shadow: 0 0 8px 0 #555;
}
.controlButton{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    /**/
    border-radius: 10px;
    opacity: 0.8;
    font-weight: bold;
    transition: .3s;
}
.controlButton[type=submit]:hover{
    /*border-color: purple;*/
    box-shadow: 0 0 8px 0 black;

    /*check: table thead tr*/
    /*background-color: purple;#A9A9A9(gray);violet;*/
    color: white;/*black;white*/
    transition: .3s;
}
table td {
    position: relative;
}

input[type=submit]:hover{/*input all*/
    border-color: blue;
    box-shadow: 0 0 8px 0 black;

    /*check: table thead tr*/
    background-color: #A9A9A9;/*#A9A9A9(gray);violet;*/
    color: white;/*black;white*/
    transition: .3s;
}

table td input{
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    /*padding: 0px;*/
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 1em;
    min-width: 40px;
    /*border-radius: 50px 50px 50px 50px;*/
    /*background-color: yellow;*/
    /*overflow: hidden;*/

    /*Max width of tabel & break word so it can fit the table*/
    /*    max-width: 150px;*/
    width: 580px;
    word-wrap: break-word;
}
table thead tr {
    background-color: #FF126C;/*#A9A9A9(gray);violet;*/
    color: white;/*black;white*/
    text-align: left;
    font-weight: bold;
    /**/
    border-bottom: 2px solid black;

    /*Max width of tabel & break word so it can fit the table*/
    max-width: 150px;
    word-wrap: break-word;
}
table th, table td{
    padding: 10px 4px;/*12px 15px;*/

    /*Max width of tabel & break word so it can fit the table*/
    max-width: 150px;
    word-wrap: break-word;
}
table tbody tr{
    border-bottom: 2px solid black;

    /*Max width of tabel & break word so it can fit the table*/
    max-width: 150px;
    word-wrap: break-word;
}
table tbody tr:nth-of-type(even){/*every single even*/
    background-color: #f3f3f3;

    /*Max width of tabel & break word so it can fit the table*/
    max-width: 150px;
    word-wrap: break-word;
}
table tbody tr:nth-of-type(even) input[type=number]{/*every single even input type number only*/
    background-color: #f3f3f3;

    /*Max width of tabel & break word so it can fit the table*/
    max-width: 150px;
    word-wrap: break-word;
}
.custom-text-cart{
    /*background-color: yellow;*/
    width: 99%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
.custom-text-cart:focus{
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}
/**/
.custom-text-cart:hover{
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}
.now{/*<input type="submit" name="btnAction" value="Details"/> Now not use*/
    /*https://www.w3schools.com/css/tryit.asp?filename=trycss_form_button*/
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    /**/
    border-radius: 40px;
    opacity: 0.8;
    font-weight: bold;
    text-decoration: none;

    width: 99%;
    transition: .3s;
}
.now[type=submit]:hover{/*copy: input[type=submit]:hover{ - self*/
    border-color: blue;
    box-shadow: 0 0 8px 0 black;

    /*check: table thead tr*/
    background-color: blue;/*#A9A9A9(gray);violet;*/
    color: white;/*black;white*/
    transition: .3s;
    /**/
}