/*ref: https://www.youtube.com/watch?v=Y8GaNB9Bnh8&ab_channel=OnlineTutorials*/
/*@import url('https://fonts.googleapis.com/
    css?family=Open+Sans:300,400,600,700,800&display=swap');*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /*border: 1px solid white;*/
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    /*background: #222;*/
    background: linear-gradient(to bottom right, #FF416C, #425bff);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section:before{
    /*content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    1.2 color
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF416C, #425bff);
    background: linear-gradient(to right, #FF416C, #425bff);
    0.2 color
    clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
    animation: fade-in 0.25s ease-in forwards;
    animation-delay: 1.5s;
    opacity: 0;*/
}
section .content{
    position: relative;
    padding: 0px 50px 0px 70px;
    box-sizing: border-box;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 0.5s;*/
    opacity: 0;
    /*new*/
    margin-bottom: 50px;
    width:100%;
}
section .content h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;

    /*display: inline;*/
    text-align: center;
}
section .content h5 {
    color: #fff;

    /*display: inline;*/
    text-align: center;
}
section .content .main-text {
    /*color: #fff;*/
    /*font-size: 1.2em;*/
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 5px;

    position: relative;
}
section .content p {
    /*    color: #fff;
        font-size: 1.2em;
        background: white;
        color: black;*/
}
section .content .each-main-text{
    border: 2px solid black;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}
section .content .each-main-text .subject-text{
    display: inline;
}
section .content .each-main-text .subject-hightlight, .subject-highlight{
    display: inline; 
    color: red;
    text-transform: capitalize;
}
section .content a{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    /*background: #ff2562;*/
    background: none;
    color: #fff;
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 700;
    border-radius: 5px;
}
.sci{
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    right: 0px;
    /*left: 80px;*/
    display: flex;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 1s;*/
    opacity: 0;

    background-color: black;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 50px 0px 0px 0px;
}
.sci li{
    list-style: none;
}
.sci li a {
    text-decoration: none;
    color: #fff;
    /*color: black;*/
    margin-left: 20px;
    font-size: 0.9em;
}
.sci li button {
    text-decoration: none;
    color: #fff;
    /*color: black;*/
    margin-left: 20px;
    font-size: 0.9em;

}
.sci li a:hover {
    /*color: #fff;*/
    color: silver;
}
.nav{
    position: fixed;
    /*top: 75px;*/
    top: 0px;
    /*left: 80px;*/
    display: flex;
    /*border-left: 5px solid #ff2562;*/
    /*border-left: 5px solid white;*/
    padding-left: 20px;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 0s;*/
    opacity: 0;

    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    border-radius: 0px 0px 50px 0px;
    z-index: 1;
}
.nav li{
    list-style: none;
}
.nav li a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}
.nav li a.active{
    color: #FF416C;
}
.nav li a.active:hover{
    color: #FF416C;
    opacity: 0.8;
}
.nav li a:hover {
    /*color: #ff2562;*/
    color: silver;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1; 
    }
}
@keyframes left-in{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1; 
    }
}
@media(max-width: 991px){
    .menuicon{
        position: fixed;
        top: 40px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url(../images/menu.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .menuicon.active{
        background: url(../images/close.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.95);
        flex-direction: column;
        z-index: 11;
        border: none;
        padding: 50px;
    }
    .nav.active{
        left: 0;
    }
    .nav li{
        margin: 5px 0;
    }
    section{
        flex-direction: column-reverse;
        justify-content: center;
    }
    section:before{
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
    }
    section .content{
        padding: 50px;
        margin-bottom: 30px;
    }
    section .content h2{
        font-size: 1.5em;
    }
    section .content p{
        font-size: 1em;
    }
    section .content a{
        font-size: 0.8em;
        padding: 10px;
    }
    section .imbBx{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: 20px;
    }
    section .imbBx img{
        max-width: 300px;
    }
    .sci{
        left: 0px;
        /*right: 0px;*/
        bottom: 0px;
        border-radius: 0px 0px 0px 0px;
        /*border-radius: 50px 0px 0px 0px;*/
    }
}
/*new*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    /*background: linear-gradient(to bottom right, #FF9999, #196BC7);*/
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;

    opacity: 0.8;
}
#myBtn:hover {
    background-color: #555;
}
.controlButton{
    background-color: blue;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
    opacity: 0.8;
    font-weight: bold;
    transition: .3s;
    border: none;
    outline: none;
}
.controlButton:hover{
    box-shadow: 0 0 8px 0 black;
    /*background-color: white;*/
    /*color: blue;*/
    transition: .3s;
}
.select{
    text-transform: capitalize;
    transition: .3s;
}
.select:focus{
    border-color: blue;
    box-shadow: 0 0 10px 0 blue;
}
.select:hover{
    border-color: blue;
    box-shadow: 0 0 10px 0 blue;
}
.title{
    font-size: 18px;
    color: #42554e;
    font-weight: bold;
    padding-bottom: 10px;
}
.custom-text-input{
    /*background-color: yellow;*/
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
.custom-text-input:focus{
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}
.custom-text-input:hover{
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}
.hightlight{
    color: red;
}
.note{
    font-family: Ubuntu-Regular;
    font-size: 85%;
    color: #666666;
    margin-left: 1px;
}
.next-to-note{
    display: inline;
    font-family: Ubuntu-Regular;
    font-size: 85%;
    color: #666666;
}